<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O.W.L DATA</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/logo.png" />
</head>
<body>
<div class="min-h-screen bg-gray-900 flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-3xl mb-6 flex items-center justify-center"><span class="fa fa-sign-in mr-2"></span> DATA SERVICE</h1>

        <% if (message && message.length > 0) { %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Error!</strong>
                <span class="block sm:inline"><%= message %></span>
            </div>
        <% } %>
        
        <div class="mt-10">
            <a href="https://github.com/login/oauth/authorize?client_id=a03f195b4e39d5a34d5f&scope=public_repo%20user:email&redirect_uri=https://privacy.is-a.dev/__/auth/handler" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Login</a>
        </div>
        <hr class="my-6">

        <p class="text-gray-700">© OPEN-DOMAINS & IS-A.DEV</p>
    </div>
</div>
</body>
</html>
